<!DOCTYPE html>

<html>
<head>
	<!-- Deck game as task of castiko -->
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="Card game for OCD" name="description">

	<title>Card Game</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
	</script>
	
	<!-- Drag and drop functionality -->
	<script>
	function allowDrop(ev) {
	   ev.preventDefault();
	}

	function drag(ev,tx) {
	   ev.dataTransfer.setData("text", tx);
	   ev.dataTransfer.setData("id", ev.target.id);
	}

	function drop(ev) {
	   ev.preventDefault();
	   var data = ev.dataTransfer.getData("text");
	   var id = ev.dataTransfer.getData("id");
	   //var targt = document.getElementById(ev.target);
	   if(data.charAt(2)==ev.target.innerHTML.charAt(0) || data.charAt(3)==ev.target.innerHTML.charAt(0)){
	       ev.target.innerHTML=data;
	       document.getElementById("deck").removeChild(document.getElementById(id));
	       check_restart();
	   }
	   else if(data.charAt(2)==ev.target.innerHTML.charAt(2) || data.charAt(2)==ev.target.innerHTML.charAt(3) || data.charAt(3)==ev.target.innerHTML.charAt(2)){
	       ev.target.innerHTML+=","+data;
	       document.getElementById("deck").removeChild(document.getElementById(id));
	       check_restart();
	   }else
	   alert("Wrong deck chosen");
	   
	}
	</script>
	
	<!-- Save Game Progress -->
	<script>
	function save_data()
	{
	   var h=document.getElementById('hearts').innerHTML;
	   var c=document.getElementById('clubs').innerHTML;
	   var s=document.getElementById('spades').innerHTML;
	   var d=document.getElementById('diamond').innerHTML;
	   var cards= $("#deck > div").length;
	   if(h=="Hearts")
	   		h="";
	   if(c=="Clubs")
	   		c="";
	   if(s=="Spades")
	   		s="";
	   if(d=="Diamond")
	   		d="";
	   var obj={};
	   obj["Hearts"]=h;
	   obj["Clubs"]=c;
	   obj["Diamond"]=d;
	   obj["Spades"]=s;
	   obj["Cards"]=52-cards;
	   obj["Reset"]=0;
	   
	   var x= JSON.stringify(obj, ["Hearts", "Clubs","Diamond","Spades","Cards","Reset"]);

	   $.ajax(
	   {
	       type:"POST",
	       url:"save_data",
	       dataType:"json",
	       contentType: 'application/json',
	       processdata:false,
	       data:x,
	       async:false,
	       success:function(data)
	       {
	           alert("Data saved");
	           document.getElementById('hearts').innerHTML="Hearts";
	           document.getElementById('clubs').innerHTML="Clubs";
	           document.getElementById('spades').innerHTML="Spades";
	           document.getElementById('diamond').innerHTML="Diamond";
	       },
	       error:function(data)
	       {
	           if(data.statusText=="OK"){
	               alert("Data saved");
	               document.getElementById('hearts').innerHTML="Hearts";
	               document.getElementById('clubs').innerHTML="Clubs";
	               document.getElementById('spades').innerHTML="Spades";
	               document.getElementById('diamond').innerHTML="Diamond";
	           }
	           else
	               alert(data);
	       }
	   });

	};
	</script>
	
	<!-- Restart game -->
	<script>
	function restart(){
	   var obj={};
	   obj["Reset"]=1;
	   var x= JSON.stringify(obj, ["Reset"]);

	   $.ajax(
	   {
	   type:"POST",
	   url:"save_data",
	   dataType:"json",
	   contentType: 'application/json',
	   processdata:false,
	   data:x,
	   success:function(data)
	   {
	       alert("Game Reset");
	       document.location.reload(true);
	   },
	   error:function(data)
	   {
	       if(data.statusText =="OK")
	       {
	       alert("Game Reset");
	       document.location.reload(true);
	       }
	   }
	   });
	}

	// Shows Restart game button if game is completed
	function check_restart(){
	   if($('#deck').children().length== 0)
	   {
	       document.getElementById('deck').innerHTML="<center><p>Congratulations... You have won!!!<br/><input type='submit' class='btn btn-primary' value='Restart' onclick='javascript:restart();'><\/p><\/center>";
	       save_data();
	       
	   }
	   }
	</script>
	
	<!-- Load deck of cards after window is loaded -->
	<script>
	 jQuery(window).on('load',function(){
	 var cards=["A_Club","2_Club","3_Club","4_Club","5_Club","6_Club","7_Club","8_Club","9_Club","10_Club","J_Club","Q_Club","K_Club","A_Hearts","2_Hearts","3_Hearts","4_Hearts","5_Hearts","6_Hearts","7_Hearts","8_Hearts","9_Hearts","10_Hearts","J_Hearts","Q_Hearts","K_Hearts","A_Diamond","2_Diamond","3_Diamond","4_Diamond","5_Diamond","6_Diamond","7_Diamond","8_Diamond","9_Diamond","10_Diamond","J_Diamond","Q_Diamond","K_Diamond","A_Spades","2_Spades","3_Spades","4_Spades","5_Spades","6_Spades","7_Spades","8_Spades","9_Spades","10_Spades","J_Spades","Q_Spades","K_Spades"];
	 var fetch_cards;
	 
	//Get earlier progress of user
	$.ajax(
	{
	type:"GET",
	url:"/data",
	datatype:"json",
	async:false,
	success:function(data)
	{
	var parsed=JSON.parse(data);
	if(parsed.hearts!="undefined" && parsed.hearts!="")
	{
		cards = cards.filter( function( el ) {
	 		return parsed.hearts.indexOf( el ) < 0;
		} );
	}
	if(parsed.clubs!="undefined" && parsed.clubs!="")
	{
		cards = cards.filter( function( el ) {
		 	return parsed.clubs.indexOf( el ) < 0;
		} );
	}
	if(parsed.spades!="undefined" && parsed.spades!="")
	{
		cards = cards.filter( function( el ) {
	 		return parsed.spades.indexOf( el ) < 0;
		} );
	}
	if(parsed.diamond!="undefined" && parsed.diamond!="")
	{
		cards = cards.filter( function( el ) {
	 		return parsed.diamond.indexOf( el ) < 0;
		} );
	}
		
	fetch_cards=52- parseInt(parsed.cards);
	}
	});
		 
	// Generating randomness
	 var random_cards=_.sample(cards,fetch_cards);
	 var x="";
	// Displaying cards
	 for (i = 0; i < fetch_cards; i++) { 
	 x+='<div class="col-md-3 col-sm-4" draggable="true" ondragstart="drag(event,\''+random_cards[i]+'\')" id ="'+random_cards[i]+'"><div class="thumbnail caption"><h3>'+random_cards[i]+'<\/h3><\/div><\/div>';}
	 document.getElementById('deck').innerHTML=x;
	 });
	 
	</script>
	
	
	<style>
	 html {
	 height: 100%;
	}
	html body {
	 height: 100%;
	 overflow: hidden;
	}
	html body .container-fluid.body-content {
	 position: absolute;
	 top: 50px;
	 bottom: 50px;
	 right: 0;
	 left: 0;
	 overflow-y: auto;
	}
	.header {
	position:absolute;
	   right: 20px;
	 top: 0;
	 left: 20px;
	   height: 40px;
	   overflow:hidden;
	}
	.footer {
	position:absolute;
	   right: 20px;
	 bottom: 0;
	 left: 20px;
	   height: 40px;
	   overflow:hidden;
	}


	</style>
</head>

<body>
	<div class="container">
		
		<!-- Header -->
		<div class="row header">
			<div class="col-md-6 col-sm-6">
				Welcome <%= uname %>
			</div>
			<div class="col-md-2 col-sm-2">
				<input class="btn btn-primary btn-sm" onclick="javacript:save_data();" type="submit" value="Save">
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-primary btn-sm" href="/profile">Profile</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-primary btn-sm" href="/logout">Logout</a>
			</div>
		</div>
	<!-- /Header -->

		<!-- Body -->
		<div class="container-fluid body-content">
			<div class="row-fluid" id="deck">
			</div>
		</div>
		<!-- /Body -->
			
		<!-- Footer -->
		<div class="row footer">
			<div class="thumbnail col-md-3 col-sm-3" id="hearts" ondragover="allowDrop(event)" ondrop="drop(event)" style="background-color: red;border: 0; font-weight:bold;">
				<%if (typeof(hearts) === "undefined" || hearts=== "" || hearts=== "not defined"){ %>Hearts<%}else{ %><%= hearts %><%} %>
			</div>
			<div class="thumbnail col-md-3 col-sm-3" id="clubs" ondragover="allowDrop(event)" ondrop="drop(event)" style="background-color: black;border: 0; color:white; font-weight:bold;">
				<%if (typeof(clubs) !="undefined"){ %><%= clubs %><%}else{ %>Clubs<%} %>
			</div>
			<div class="thumbnail col-md-3 col-sm-3" id="diamond" ondragover="allowDrop(event)" ondrop="drop(event)" style="background-color: red; font-weight:bold; border: 0;">
				<%if (typeof(diamond) !="undefined"){ %><%= diamond %><%}else{ %>Diamond<%} %>
			</div>
			<div class="thumbnail col-md-3 col-sm-3" id="spades" ondragover="allowDrop(event)" ondrop="drop(event)" style="background-color: black; border: 0; color:white; font-weight:bold;">
				<%if (typeof(spades) !="undefined"){ %><%= spades %><%}else{ %>Spades<%} %>
			</div>
		</div>
					
		<!-- /Footer -->
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</body>
</html>